@charset "utf-8";
/* CSS Document */

body{
	font-family: Helvetica, Times New Roman, sans-serif;
	background:url(wallpaper1.jpg);
	background-position: top center;
	background-repeat:no-repeat;
	background-size:100%;
}
h1{
	text-align: center;
	color: white;
	margin-top: 100px;
}
input{
	background-color: white;
	margin: 10px;
	padding:20px;
}

a{
	text-decoration:none;
	color:#FFF;
}

a:hover{
	text-decoration:none;
	color:#FF0;
}

.kontainer{
	margin-top:100px;
	margin-bottom:15px;
	font-size:56px;
	font-weight:bold;
	text-align:center;
}

.kontainer2{
	font-size:36px;
	font-weight:bold;
	text-align:center;
}

#konter{
	-moz-border-radius : 15px 15px 15px 15px ;
	-webkit-border-radius : 15px 15px 15px 15px;
	width:300px;
	background-color:#8E2DE2;
	padding:20px;
}.kop {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFFFFF;
}
